@page "/bookings/{id}"
@using CentralEvents.Web.App.Wrappers
@using CentralEvent.Business.Contracts.Models
@inject IHttpClient Client

<h3>Veranstaltung reservieren</h3>

<h2>@eventModel.Name</h2>
<h5>@eventModel.Restbestand Tickets von @eventModel.GesamtanzahlEintrittskarten verfügbar</h5>

<p>
    <label>* Pflichtangaben</label>
</p>

<div>
    <table>
        <tr>
            <td>
                <label>Ticketanzahl</label>
                <input @bind="@bookingModel.AnzahlTickets" type="number" name="amount" id="amount" min="1"/>
                @* Wie komm ich an die entweder php-Werte im Code, oder gibts da cooles seitenübergreifendes binding zeug? *@
                @*<input type="number" name="amount" id="amount" value="'.$ticket_amount.'" min="1" />*@

            </td>
        </tr>
        <tr>
            <td>
                <form>
                    <label>Vorname*:</label>
                    <input @bind="@bookingModel.Vorname" required/>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form>
                    <label>Nachname*:</label>
                    <input @bind="@bookingModel.Nachname" required/>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form>
                    <label>Straße / Nr.*:</label>
                    <input @bind="@bookingModel.Strasse" required/>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <label>Hausnummer:</label>
                <input @bind="@bookingModel.Hausnummer"/>
            </td>
        </tr>
        <tr>
            <td>
                <form>
                    <label>PLZ*:</label>
                    <input @bind="@bookingModel.Plz" required/>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form>
                    <label>Ort*:</label>
                    <input @bind="@bookingModel.Ort" required/>
                </form>
            </td>
        </tr>

        <tr>
            <td>
                <form>
                    <label>
                        E-Mail*:
                    </label>
                        @* <input type="email" name="email"> *@
                    @* <label>E-Mail*:</label> *@
                    <input type="email" name="email" @bind="@bookingModel.Email" required/>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <label>Telefonnummer:
                    @* <br/> *@
                    @* <h6>+49 421 123456</h6> *@
                    </label>
                <input type="tel" name="Telefonnummer" placeholder="0421-123456" @bind="@bookingModel.Telefon"/>
            </td>
        </tr>


    </table>

    <div id="abbrechen">
        <a href="/">
            <a href="/">Abbrechen</a>
        </a>
        <button @onclick="AddBooking">Karten reservieren</button>
    </div>
</div>


@code
{

    [Parameter]
    public string Id { get; set; }

    EventModel eventModel = new EventModel();
    BookingModel bookingModel = new BookingModel();

    protected override async Task OnInitializedAsync()
    {
        eventModel = await Client.GetJsonAsync<EventModel>($"api/eventControl/getEvent/{Id}");
    }

    private async Task AddBooking()
    {
        await UpdateEvent();

        bookingModel.EventName = eventModel.Name;

        await Client.PostAsync("api/eventControl/addBooking", bookingModel);
    }

    private async Task UpdateEvent()
    {
        eventModel.Restbestand = eventModel.Restbestand - bookingModel.AnzahlTickets;

        await Client.PutAsync("api/eventControl/updateEvent", eventModel);

        eventModel = await Client.GetJsonAsync<EventModel>($"api/eventControl/getEvent/{Id}");
    }

}